
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body 
{
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #297ea9;
    background-color: #ffffff;
} 
.panel 
{
    margin-bottom: 22px;
    background-color: #f5f8fa;
    border: 1px solid #9bdbfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
a.actual
{
	color:#2579a9 !important;
	font-weight:bold !important;
}
.navbar-default 
{
    background-color: #9bdbfc;
    border-color: #d3e0e9;
}
.panel-default > .panel-heading 
{
    color: #297ea9;
    background-color: #9bdbfc;
    border-color: #d3e0e9;
	font-weight:700;
}
.btn-primary 
{
    color: #297ea9;
    background-color: #9bdbfc;
	border-color: #9bdbfc;
	-webkit-transition: all .4s ease; 
    transition: all .4s ease;
}
.btn-primary:hover 
{
    background-color: #2a88bd;
	border-color: #2a88bd;
}
.navbar-brand
{
	position:relative;
	color:#2579a9 !important;
	font-weight:bold !important;
	-webkit-transition: left 1.8s ease; 
    transition: left 1.8s ease;
	left:0;
	font-style: italic;
}
.navbar-brand:hover
{
	color:#2579a9 !important;
	font-weight:bold !important;
	left: 100%;
}
.contact-input 
{
    margin: 10px 30px 10px;
    border-radius: 3px;
}
.create-contact
{ 
	display:block;
	margin-left: 30px;
    margin-top: 20px;
}
h2.create-contact{font-size:25px;}
#validation_errors
{
	margin: 40px auto;
    width: 100%;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #9bdbfc;
    color: #297ea9;
	font-weight:bold;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #297ea9;
    background-color: #9bdbfc;
}
#user-admin{ background-color: #f5f8fa; }
.user-name{text-transform:uppercase;}
.navbar-default .navbar-nav > li > a 
{
    color: #2579a9;
}
.contact-item
{
	position:relative;
    min-height: 200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #d6eefb;
    padding: 20px;
    margin-bottom: 50px;
	-webkit-box-shadow: 7px 10px 31px -12px rgba(12,93,128,1);
	-moz-box-shadow: 7px 10px 31px -12px rgba(12,93,128,1);
	box-shadow: 7px 10px 31px -12px rgba(12,93,128,1);
	border-radius: 0px 0px 10px 0px;
}
.do-edit-save,do-edit
{
	position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}
.do-save{margin-right:10px;}
.do-delete
{
	position: absolute;
    right: 0;
	cursor:pointer;
    margin: 10px;
}
.contact-main
{
	position: absolute;
    top: 0px;
    left: 0;
    background: #297ea9;
    width: 70%;
    color: #fff;
    border-radius: 0 0 10px 0px;
    padding: 5px;
	margin-bottom:20px;
	
}
.contact-main h3 
{
    display: inline;
    padding: 15px;
	text-transform:uppercase;
}
.contact-birth-date
{
	position: absolute;
    right: 5px;
	text-transform:lowercase;
}
.contact-info
{
	margin-left:30px;
	margin-top: 55px;
}
.contact-info h4
{
	font-size:20px;
}
.contact-info .contact-content
{
	margin-left:15px;
}
.contact-phone
{ 
	margin-bottom:20px;
}
#editName
{
	width: 175px;
    color: #297ea9;
	font-size: 20px;
}
#editBirthDate
{
	width: 180px;
    color: #297ea9;
    font-size: 20px;
}
.editInputs
{
	margin-left: 10px;
    font-size: 22px;
    border-radius: 3px;
    border-color: #d6eefb;
}
.contact-additional
{
	margin-left: 30px;
    margin-top: 20px;
	
}
.create-contact-area{margin-bottom:55px;}
.select-gender{margin-left: 45px;}
#nickname_input{font-size:16px;}
hr.divide
{
	background-color: #297ea9;
    height: 2px;
}

 
 